@charset "UTF-8";
.p1, .p2 {
  color: black;
  background-color: lightgrey;
  font-size: 20px;
  text-align: center;
  display: flex;
  align-items: center; }

main ul li {
  display: flex;
  justify-content: center;
  align-items: center; }

/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* estilos de header */
header {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #182941; }
  header img {
    width: 200px; }
  header nav ul {
    list-style: none; }
    header nav ul li {
      background-color: #FAD8CE;
      display: inline-block;
      padding: 10px;
      border-radius: 300px; }

/* estilos del main */
.Gridmain {
  display: grid;
  grid-template-areas: "h2 h2" "section iframe" "section iframe"; }

.gridh2 {
  grid-area: h2; }

.gridiframe {
  grid-area: iframe;
  margin-top: 3rem; }

.gridsection {
  grid-area: section; }

.gridimg {
  grid-area: img;
  justify-content: center;
  align-items: center;
  width: 70%; }

.main-index {
  text-align: center; }

main h1 {
  text-align: center;
  margin: 10px;
  color: #c4aeda;
  font-size: 50px; }

main section img {
  padding: 5px;
  width: 50%; }

main p {
  text-align: start;
  font-size: 20px;
  color: white; }

main .img-camp {
  padding: 10px;
  width: 300px; }

main .img-fogata {
  padding: 0;
  width: 200px; }

/* estilos del main de actividades */
.gridactividades {
  display: grid;
  grid-template-areas: "h1 h1" "ul img" "ul img" "p p"; }

.h1-actividades {
  grid-area: h1;
  color: blueviolet; }

.gridul {
  grid-area: ul; }

.campamento-nenes {
  grid-area: img;
  width: 70%; }

.gridp {
  grid-area: p;
  font-size: large; }

main ul li {
  color: white;
  border: 15px solid lightgrey;
  margin: 10px; }

/* estilos del main de contactos */
main form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
  margin: 50px;
  padding: 50px; }

.h1contacto {
  text-align: center;
  margin-top: 2px; }

.pcontacto {
  color: darkcyan;
  display: flex;
  text-align: center; }

/* estilos main de nosotros */
.contenedorgrid {
  display: grid;
  grid-template-columns: 50% auto; }

.h1sobrenosotros {
  font-size: 50px; }

.boxmodeling {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid blue;
  padding: 50px;
  margin: 20px; }

.boxmodeling2 {
  background-color: yellowgreen;
  width: 300px;
  border: 15px solid green;
  padding: 30px;
  margin: 10px; }

.boxmodeling3 {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid blue;
  padding: 50px;
  margin: 20px; }

.boxmodeling4 {
  background-color: yellowgreen;
  width: 300px;
  border: 15px solid green;
  padding: 30px;
  margin: 10px; }

/* main nuestra historia */
.contenedorGrid1 {
  display: grid;
  grid-template-areas: "h1 h1" "img p" "p2 img2" "footer footer"; }

.cabaña {
  width: 70%;
  grid-area: img;
  margin: 2rem; }

.h1nuestrahistoria {
  background-color: lightgrey;
  color: black;
  border-radius: 100px;
  grid-area: h1; }

.p1 {
  grid-area: p; }

.p2 {
  grid-area: p2; }

.campamentoviejo {
  width: 70%;
  grid-area: img2;
  margin: 2rem; }

/* estilos del footer */
footer {
  text-align: center;
  background-color: lightgrey; }
  footer h2 {
    font-size: 15px;
    margin-top: 10px; }
  footer ul {
    list-style: none; }
    footer ul li {
      display: inline-block;
      margin: 10px; }
      footer ul li img {
        display: block; }

/* media quaries */
@media screen and (min-width: 1024px) {
  body {
    background-color: #182941; }
  header nav ul li {
    transition: 5s; }
    header nav ul li:hover {
      background-color: #182941;
      transform: scale(0.9) rotate(360deg);
      box-shadow: 2px 2px 5px black;
      transition: 3s; } }

@media screen and (min-width: 480px) {
  header {
    display: block;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black; }
    header nav ul {
      list-style: none;
      display: flex;
      gap: 1.3rem; } }

body {
  background-color: #182941; }
