/* media quaries */

@media screen and (min-width: 1024px){
    body{
        background-color: $color-botones;
    }
    header{
        nav{
            ul{
                li{
                    transition: 5s;
                    &:hover{
                        background-color: $color-botones;
                        transform: 
                        scale(0.9)
                        rotate(360deg);
                        box-shadow: 2px 2px 5px black;
                         transition: 3s;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 480px){
    header{
        display: block;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: black;
        nav{
            ul{
                list-style: none;
                display: flex;
                gap: 1.3rem;
             }
             @media screen and (min-width: 768px){
    
             }
           }
    
        }
    }